.catalogo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
justify-content: center;
}

.sabana {
  flex: 1 1 calc(33.33% - 20px); 
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  max-width: 33.333333%;
  overflow: hidden;
}

.sabana img {
  max-width: auto;
  max-width: auto; 
  max-height: 300px
  
}

.sabana h3 {
  margin-top: 10px;
}

.sabana p {
  margin-top: 5px;
}
